@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root{
  --primary-color: #69B99D;
  --mulish: 'Mulish', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --inter-font: 'Inter', sans-serif;
  --dm-sans: 'DM Sans', sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: var(--inter-font);
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22.4px;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  font-family: var(--mulish);
}

nav ul li{
  list-style-type: none;
}

/* Check list link style */
nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Make text bold on hover */
nav ul li a:hover {
  color: #7D7987;
}

nav ul li a:active{
  color: #000 !important;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45.4px;
}

/* Check margin and font styling */
.text h1 {
  font-family: var(--mulish);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 14px;
}

/* Check font styling */
.text h1 span {
  color: var(--primary-color);
}

/* Check font styling */
.text p {
  font-family: var(--open-sans); 
  font-size: 16px;
  margin-bottom: 48px;
  color: #7D7987;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: var(--dm-sans);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 32px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: #7D7987;
}

/* Check the text styling */
footer {
  font-family: var(--open-sans); 
  text-align: center;
  margin-bottom: 29px;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

footer a:hover{
  color: var(--primary-color);
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}